/* Shared Common CSS */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding: 18px 35px;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    text-align: center;
}

.section-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    text-align: center;
}

main section {
    margin-top: 130px;
}

/* Navbar related CSS */
.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 226px;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    margin-right: 50px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related css */
.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0 226px;
    display: flex;
    justify-content: space-between;
}

.banner-content {
    max-width: 550px;
}

.banner-greet {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

/* main related css */
main {
    max-width: 1140px;
    margin: 80px auto;
}

/* About section css */
.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 80px 150px;

}

.info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    margin: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}

.about-info {
    text-align: center;
}

.info-description {
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}

/* What I do section */

#what-i-do-description {
    padding: 10px 150px;
}

.skill-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;

}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-title {
    font-size: 20px;
    font-weight: 700;
    color: #181818;
}

.skill-description {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 28px;
}

/* Resume Section Css */
.resume-col-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}