/* Shared Common CSS */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    padding: 18px 35px;
}

.section-title {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    text-align: center;
}

.section-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    text-align: center;
}

main section {
    margin-top: 130px;
}

/* Navbar related CSS */
.nav-title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    margin-right: 50px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related css */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, 30px;
}

.banner {
    padding: 30px 30px 30px 200px;
    display: flex;
    justify-content: space-between;
}

.banner-content {
    max-width: 550px;
    margin-top: 70px;
}

.banner-greet {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}

.contact-btn {
    border-radius: 5px;
    background: #FFF8F3;
    font-size: 20px;
    color: #FD6E0A;
    font-weight: 700;
    padding: 18px 35px;
    border: 1px solid #FD6E0A;
    margin-left: 30px;
}

/* main related css */
main {
    max-width: 1140px;
    margin: 80px auto;
}

/* About section css */
.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 80px 150px;

}

.info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    margin: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}

.about-info {
    text-align: center;
}

.info-description {
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}

/* What I do section */

#what-i-do-description {
    padding: 10px 150px;
}

.skill-container {
    display: flex;
    gap: 24px;
    margin-top: 50px;

}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-title {
    font-size: 20px;
    font-weight: 700;
    color: #181818;
}

.skill-description {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 28px;
}

/* Resume Section Css */
.resume-col-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}

.resume-container {
    display: flex;
    gap: 70px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}

.resume-institution {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;


}

.resume-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}

.download-button {
    text-align: center;
    margin-top: 50px;
}

/* Footer related Css */
footer {
    background-color: #FFF8F3;
    display: flex;
    margin-top: 130px;
    padding: 130px 200px;
    gap: 115px;
}

.footer-column {
    width: 50%;
}

/* Footer Contact Form */
.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 24px;
    padding: 18px 30px;
    width: 100%;
    border-radius: 5px;
    background: #FFF;
    color: #757575;
    border: 0;
}

.contact textarea {
    font-size: 16px;
}

.footer-section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.footer-description {
    color: #474747;
    margin-bottom: 30px;
}

.social-links a {
    margin-right: 24px;
}


.hide {
    display: none;
}

/* Resoponsive for Mobile Device */

@media screen and (max-width: 576px) {
    
    #what-i-do-description {
        padding: 10px;
        width: 80%;
        margin: 0 auto;
    }
    .skill-container {
        gap: 20px;
        flex-direction: column;
        width: 80%;
        margin: 25px auto;
    }
    .skill{
        text-align: center;
    }
    
    .resume-container{
        flex-direction: column;
        padding: 0 4em;

    }
    
    footer {
        padding: 20px 0;
        gap: 80px;
        flex-direction: column;
        align-items: center;
    }

    .contact input[type="text"],
    .contact input[type="email"],
    textarea {
        width: 80%;
    }

    .footer-column {
        width: 80%;
    }
    
}
/* For Medium Devices */

@media screen and (min-width: 576px) and (max-width: 992px) {
    
    
    .skill-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 30px;
    }
    
    
    .resume-container{
        gap: 80px;
        padding: 0 2em;
    }
    
    footer {
        padding: 40px;
        gap: 60px;
    }

    .contact input[type="text"],
    .contact input[type="email"],
    textarea {
        width: 80%;
    }

}